<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="card">
            <h1>House Price Prediction</h1>
            <form action="{{ url_for('predict') }}" method="post">
                <input type="number" step="any" name="CRIM" placeholder="CRIM" required>
                <input type="number" step="any" name="ZN" placeholder="ZN" required>
                <input type="number" step="any" name="INDUS" placeholder="INDUS" required>
                <input type="number" step="any" name="CHAS" placeholder="CHAS" required>
                <input type="number" step="any" name="NOX" placeholder="NOX" required>
                <input type="number" step="any" name="RM" placeholder="RM" required>
                <input type="number" step="any" name="AGE" placeholder="AGE" required>
                <input type="number" step="any" name="DIS" placeholder="DIS" required>
                <input type="number" step="any" name="RAD" placeholder="RAD" required>
                <input type="number" step="any" name="TAX" placeholder="TAX" required>
                <input type="number" step="any" name="PTRATIO" placeholder="PTRATIO" required>
                <input type="number" step="any" name="B" placeholder="B" required>
                <input type="number" step="any" name="LSTAT" placeholder="LSTAT" required>
                <button type="submit">
                    Predict House Price
                </button>
            </form>
            {% if prediction_text %}
            <div class="prediction">
                {{ prediction_text }}
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>